{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static %}
{% block content %}
<div class="container" style="margin-top: 20%">
   <div class= "jumbotron">
 <div class="row" >
   <div class="col-md-3">
     <div class="content-section">
        <div class="media">
          <img src="{{user.profile.profile_pic.url}}" alt="Profile" class="img_profile" >
        </div>
     </div>
   </div>
   <div class="col-md-8">
          <div class="media-body">
             <div class="hello">
            <h4 class="account-heading">{{user.username}}</h4>
           
            <ul>
                   <li class="dropdown" class='fas fa-cog' style="margin-right:500px; list-style: none;" >
                     <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown" role="button" aria-expanded="false">&#xf013;
                               <span class="caret"></span>
                           </a>
                     <ul class="dropdown-menu" role="menu" style="list-style: none;">
                       <li>
                         <a href="{%url 'image'%}">Home</a>
                       </li>
                       <li>
                         <a href="{%url 'new_post'%}">Post something</a>
                       </li>
                       <li>
                         <a href="{%url 'profile'%}">Profile</a>
                       </li>
                       <li>
                               <a href="/logout">Logout</a>
                             </li>
                       <li>
                         <a href="/accounts/password/change">Change Password</a>
                       </li>
                     </ul>
           </div>
           <div class="yes" style="margin-left: 3px;justify-content: space-around;;">
             <p><strong>{{images|length}} Posts</strong></p>
             <p><strong>{{user|length}} Followers</strong></p>
             <p><strong>{{user|length}} Following</strong></p>
           </div>
            <p class="text-secondary ml-4">Email:{{user.email}}</p>
            <p class="text-secondary ml-4">Bio:{{user.profile.bio}}</p>
          </div>
        </div>
</div>
 <hr>
 <div class="row">
   {% for user in pictures %}
   <div class="col-md-4" style="margin-right: 5%;">
     <img src="{{user.image.url}}" class="img-responsive">
   </div>
   {% endfor %}
 </div>
</div>
</div>
 <style>
     .img_profile{
       vertical-align: middle;
       width: 200px;
       height: 200px;
       border-radius:50%;
     }
     .hello,.yes{
      display: flex;
      justify-content: space-between;
     }
   </style>
 {% endblock %}