{%extends 'base.html'%}
{% block content %}
{{block.super}}





<div class="container" >
    <h2 style="text-align:center ;color:black;font-family:Georgia, 'Times New Roman', Times, serif">Welcome To My Instagram App
    </h2>
    <div class="row" style="width:80%;padding: 0 -8px;display: flex;padding: 0 -8px">
      {% for images in image %}
      <div class="col-md-3">
  
        <div data-toggle="modal" data-target="#{{images.id}}">
          <!--Display gallery  images  -->
  
  
          <img style="width:100%;padding-top:20%" src="{{images.img.url}}" alt="">
  
  
  
        </div>
        </div>
        {%endfor%}
        </div>
        </div>
        {% endblock %}
        
